body{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
        #1ebea5 0%,
        #1ebea5 30%,
        white 30%,
        white 100%
    );
}

main#app{
    width:72.5%;
    height:85%;
    background-color: beige;
}

.barra-top{
    display: flex;
    align-items:center;
    background-color:#ececec;
    height: 50px;
}

.left,
.right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.barra-top .left{
    flex-basis: 33%;
    border-right: 1px solid #b8b8b8;
    justify-content: space-between;
    height: 100%;
}

.right{
    flex-basis: 65%;
}

.utente{
    display: flex;
    align-items: center;
}

.barra-top .left img,
.barra-top .right img{
    height: 30px;
    object-fit:cover;
}

.barra-top .menu{
    color:lightgray;
}

.contenitore{
    display:flex;
    justify-content: space-between;
    height:100%;
    background-color:aquamarine;
}

.contenitore .col-left{    
    height:100%;
    flex-basis: 65%;
}

.contenitore .col-left .link{
    background-color:#a5d8ff;    
}

.contenitore .col-left .link .fa-bell-slash{
    display: inline-block;
    color: #a5d8ff;
    background-color: #f4faff;
    border-radius: 50%;
    padding: 10px;
    vertical-align: middle;
}

.contenitore .col-left .link .text{
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}

.contenitore .col-left .search{
    background-color: #fafafa;
}

.contenitore .col-left .search button{
    color:#bec0c2;
    background-color: #fff;
    border:none;
    border-radius: 5px 0 0 5px ;
    margin: 0 2px;
}

.contenitore .col-left .search button:active{
    filter: invert(100%);
}

.contenitore .col-left .search input{
    outline: none;
    border: none;
    margin: 7px;
    width: calc(100% - 47px);
}




.contatti{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px 10px;
}

.contatti li{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.contatti .avatar{
    display: inline-block;
}

.contatti .avatar img{
    display: inline-block;
    width:50px;
    border-radius:50px;
    background-color: beige;
}

.contatti .nome{
    margin: 0 10px;
}

.messaggi{
    display:flex;
    background-image: url('../img/mine.jpg');
    padding: 50px 60px;
    height: 100%;
    width: 100%;
}

.messaggi ul{    
    display: flex;    
    flex-direction: column;
}

.messaggi ul li {
    display:flex;    
    overflow: auto;
    min-height: 10px;
    word-wrap:break-word;
    border-radius: 5px;
    padding: 10px
}

.mitt  {    
    max-width: 50%;
    background-color:#ffffff;
}

 .dest  {    
    align-self:flex-end;
    max-width: 50%;
    background-color:#d2ffb5;
}